.contact {
    background-image: url("https://img.freepik.com/free-photo/education-handsome-male-student-with-headphones-backpack-using-smartphone_1258-23917.jpg?size=626&ext=jpg");
    height: 500px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
.contact-detail{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
